h1 {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: skyblue;
}

.h2 {
    color: blue;
    background-color: 
}

span {
    color: white;
    opacity: 0.6;
    font-family: serif;
    background-color: blue;
}

.tuusyou {
    color: black;
    background-color: white;
}

.世界 {
    color: indigo;
    font-family: serif;
    background-color: wheat;
}

.seba {
    color: violet;
    background-color: white;
}

p {
    color: lightseagreen;
}

.live {
    color: black;
}