h1 {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: skyblue;
}

.h2 {
    color: blue;
}

span {
    color: skyblue;
}

.tuusyou {
    color: black;
}

.世界 {
    color: indigo;
}

p {
    color: lightseagreen;
}

